absl-py==2.5.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
astunparse==1.6.3
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
fastapi==0.141.1
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.84.0
h11==0.16.0
h5py==3.14.0
idna==3.20
keras==3.15.1
libclang==18.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
ml_dtypes==0.6.0
namex==0.1.0
numpy==2.4.6
opt_einsum==3.4.0
optree==0.20.0
packaging==26.3
pillow==12.3.0
protobuf==7.36.2
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
python-multipart==0.0.32
requests==2.34.2
rich==15.0.0
six==1.17.0
starlette==1.6.0
tensorflow==2.21.0
termcolor==3.3.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
uvicorn==0.53.0
wrapt==2.4.1
